@import "compass/css3"; // compass css3 helpers

@import "font-awesome/variables";
@import "font-awesome/mixins";

@import "variables";
@import "mixins";


body {
	@include loader(maps-state-loading);
}

.maps-container {

	img {
		max-width: none;
	}
	@media #{$large} {
		&.ready {
			margin-left: -50%;
		}
	}

	[data-mapbox] {
		border: 1px solid $border-color;
		z-index: 300;
		width: 100%;
		height: 300px;
		overflow: hidden;
		&.maps-stuck {
			width: 100%;
			height: 300px;
			max-height: 50%;
		}
		.gm-style-iw {
			.maps-item-pin-block {
				min-width: 300px;
				min-height: 175px;
			}
			.elgg-menu-entity, .maps-item-pin {
				display: none;
			}
		}
	}

	.maps-items {
		margin: 20px 0;
		.elgg-state-highlighted {
			background: lighten($border-color, 15%);
		}

	}

	.maps-item-pin-block {
		& > .elgg-image {
			width: 30px;
			text-align: center;
			.maps-item-pin {
				cursor: help;
				img {
					max-width: 25px;
					height: auto;
				}
			}
		}
		& > .elgg-body {
			.maps-item-proximity {
				text-align: right;
			}
		}
	}

	.maps-find-me {
		text-align: right;
		padding: 10px 0;
		width: 100%;
		display: inline-block;
	}
}